:root {
 --blue:#9DDDFF;
 --green: #86D7A5;
 --dark-green: #081A0D;
 --computer-font: 'VT323', monospace;
}

html {
    background-color:var(--dark-green);
    color:var(--green);
    font-family: var(--computer-font);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:32px;
}


h1 {
    font-size:36px;
}

h2, p {
    margin:0;
}

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height:0;
    margin-bottom:60px;
    gap:16px;
}
#option-block {
    display:flex;
    flex-direction: column;
    align-items: self-start;
    gap:8px;
    padding-bottom:24px;
}

button {
    padding:16px 24px;
    border-radius:4px;
    background-color:var(--dark-green);
    border:1px solid var(--green);
    color:var(--green);
    font-family: var(--computer-font);
    font-size:20px;
}

button:hover {
    border-bottom:4px solid;
    cursor:pointer;
}

button:active {
    border-bottom:2px solid;
}

.wrong-option {
    text-decoration: line-through;
}

#choice-list {
    display:flex;
    flex-direction:column;
    gap:16px;
}

.primary-button {
    color: var(--blue);
    border-color: var(--blue);
    margin-bottom:16px;
}

#leader-name, #leader-score {
    color: var(--blue);
}

.center-content {
    flex-direction:column;
    gap:16px;
}

.hidden {
    display:none;
}

.visible {
    display:flex;
}

input {
    background-color: #06140A;
    border: 1px solid var(--green);
    font-size: 32px;
    color: white;
    font-family: var(--computer-font);
}

input[type=text]:focus {
    border: 1px solid var(--blue);
    background-color:#06140A;
    outline:none;
}

#high-scores{
    display:flex;
    flex-direction:column;
    gap:8px;
}

#high-scores p {
    font-size:18px;
}