:root {
 --blue:#9DDDFF;
 --green: #86D7A5;
 --dark-green: #081A0D;
 --computer-font: 'VT323', monospace;
}

html {
    background-color:var(--dark-green);
    color:var(--green);
    font-family: var(--computer-font);
    margin:24px;
}

h1 {
    font-size:36px;
}

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height:0;
}
#option-block {
    display:flex;
    flex-direction: column;
    align-items: self-start;
    gap:8px;
    padding-bottom:24px;
}

button {
    padding:16px 24px;
    border-radius:4px;
    background-color:var(--dark-green);
    border:1px solid var(--green);
    color:var(--green);
    font-family: var(--computer-font);
    font-size:20px;
}

button:hover {
    border-bottom:4px solid;
    cursor:pointer;
}

button:active {
    border-bottom:2px solid;
}

.wrong-option {
    text-decoration: line-through;
}

#choice-list {
    display:flex;
    flex-direction:column;
}

.primary-button {
    color: var(--blue);
    border-color: var(--blue);
}
